{% extends 'base/base.html' %} 
{% from 'base/_error.html' import showError %}
{% from 'base/_success.html' import showSuccess %} 
{% from 'base/_form.html' import render_field %} 

{% block header %} 
{% block title%}{{title}}{% endblock %} 
{%endblock %} 
{% block baseContent %}
<section class="py-4 bg-light mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1><i class="bi-file-person"></i>{{title}}</h1> 
                    </div>
                    <div class="card-body">
                        {% block customForm %}
                        
                        {% endblock customForm %}
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
{% if error %} 
    {{showError(error,msgError)}}
{% endif %}
{% endblock baseContent %}