{% extends 'base/_form_base.html' %}

{% block customForm %}
<form action="/create_user/" method="POST" >
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
  <div class="input-group mb-3">
    {{render_field(form.nombre.label,class="input-group-text")}}
    {{ render_field(form.nombre,class="form-control mb-0")}}
  </div>
  <div class="input-group mb-3">
    {{render_field(form.username.label,class="input-group-text")}}
    {{ render_field(form.username,class="form-control mb-0")}}
  </div>
  <div class="input-group mb-3">
    {{render_field(form.password.label,class="input-group-text")}}
    {{ render_field(form.password,class="form-control mb-0")}}
  </div>
  <div class="input-group mb-3">
    {{render_field(form.celular.label,class="input-group-text")}}
    {{ render_field(form.celular,class="form-control mb-0")}}
  </div>
  <div class="input-group mb-3">
    <input class="form-control" type="submit" value="Guardar">
  </div>
</form>
{% endblock customForm %}