{% extends "/base/base.html" %} 
{% from 'base/_error.html' import showError %}
{% from 'base/_card_publicacion.html' import showPublicaciones %}


{% block title %} {{title}} {% endblock %} 
{%block baseContent %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {{showPublicaciones(publicaciones)}}
        </div>
    </div>
    {% if error %}
        {{showError(error,"descripcion del error")}}
    {% endif %}

    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center pt-4 mt-4 fixed-bottom">
          
        {% for paginacion in range(1,paginaciones) %}
          <li class="page-item"><a class="page-link" href="/{{paginacion}}">{{paginacion}}</a></li>
        {% endfor %}
        </ul>
      </nav>
    


{% endblock baseContent %}
