{% extends 'base/_form_base.html' %} {% block customForm %}
<form method="post" novalidate id="login-form">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />

  <div class="input-group input-group-lg flex-nowrap mb-3">
    <span class="flex-nowrap">
      {{render_field(form.nombre.label,class="input-group-text")}}
    </span>
    <div class="container">
      {{ render_field(form.nombre,class="form-control mb-0")}}
    </div>
  </div>

  <div class="input-group input-group-lg flex-nowrap mb-3">
    <span class="flex-nowrap">
      {{render_field(form.celular.label,class="input-group-text")}}
    </span>
    <div class="container">
      {{ render_field(form.celular,class="form-control")}}
    </div>
  </div>
  <div class="input-group mb-3">
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      value="Login"
    >
      Editar!
    </button>
  </div>
</form>
{% endblock customForm%}